<?php

$finder = PhpCsFixer\Finder::create()
    ->in(__DIR__)
    ->exclude('var');

return PhpCsFixer\Config::create()
    ->setRiskyAllowed(true)
    ->setRules(
        [
            '@Symfony' => true,
            '@Symfony:risky' => true,
            '@PHP71Migration' => true,
            '@PHP71Migration:risky' => true,
            'array_syntax' => ['syntax' => 'short'],
            'global_namespace_import' => ['import_functions' => true],
            'method_chaining_indentation' => true,
            'no_useless_else' => true,
            'ordered_imports' => ['imports_order' => ['class', 'function', 'const']],
        ]
    )
    ->setFinder($finder);
