version: "3"

services:
  webapp:
    image: webdevops/php-nginx:7.4
    ports:
      - 80:80
    volumes:
      - ./:/app/:rw,cached
      - app-cache:/app/var/cache/
      - ./var/log/:/app/var/log/:delegated
      - ./vendor/:/app/vendor/:delegated
    environment:
      COMPOSER_ALLOW_SUPERUSER: 1
      COMPOSER_MEMORY_LIMIT: -1
      WEB_DOCUMENT_ROOT: /app/public
    working_dir: /app/

  db:
    image: postgres:12
    ports:
      - 5432:5432
    environment:
      POSTGRES_PASSWORD: password
    links:
      - webapp

volumes:
  app-cache: ~